*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: coral;
	height: 100vh;

}
.container1{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 30px;

}

.input{padding: 8px;
margin-right: 10px;
border-radius: 10px;
text-align: center;
width: 200px;
}


.button{
	padding: 8px;
	border-radius:25px;
	background-color: blue;
	color: aliceblue;
	
}

img{
	width: 300px;	
	margin: 0;
	
}
.p{
	font-size:15px;
	margin-bottom: 20px;
	height: 15px;
}
.h3{font-size: 30px;
	margin-bottom: 3px;

}
.p1{
	padding: 30px;
	font-size: 25px;
	font-weight: 800;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}